

#lightbox
{
z-index:10000;
position:absolute;
left:5%;
width:90%;
}

#lightbox.slim
{
left:20%;
max-width:50%;
}

#lightbox-content
{
padding:0.5em 1em;
min-height:10em;
}

#lightbox-content .img-lightbox-fullsize
{
width:100%;
}

#lightbox-sym-close
{
position:absolute;
top:-1em;
right:-1em;
cursor:pointer;
}

#lightbox.lightbox-noclose #lightbox-sym-close
{
display:none;
}


#lightbox-content
{
border-radius:0.66em;
}


#lightbox-sym-close
{
z-index:9999;
width:3em;
height:3em;
border-radius:1.5em;
}

#lightbox-sym-close img
{
width:3em;
height:3em;    
position:relative;
left:0.07em;
top:-0.07em;
}
